<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Login</title>
    <link rel="stylesheet" href="../styles5.css">
</head>

<body>

    <div class="heading-topic">
        <img src="https://img.icons8.com/?size=100&id=37fQEyOEKo18&format=png&color=000000" alt="logo">
        <h1 class="topic">Bug Tracking Application</h1>
    </div>

    <div class="container">

        <div class="heading">
            <p>User login</p>
        </div>
        <div class="content">
            <form class="login-form">
                <div class="input-div">
                    Username:<input type="text" id="username-inp"><br>
                    Password: <input type="password" id="pwd-inp">
                </div>
                <button type="submit" onclick="validateLogin()">Login</button>
            </form>
        </div>
        <div class="option">
            <p>Don't have an account? <a target="_blank" href="register.html">Sign Up</a></p>
        </div>
    </div>

    <!-- Footer Section -->
    <footer>
        <p>Designed by BUrGlars</p>
    </footer>

    <script src="../scripts.js"></script>

</body>

</html>